$icon-font-path: '../fonts/';
//@icon-font-path: "../bower_components/asset/bootstrap/fonts/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import "mixins";

.cl {
  color: #e2282b;
}

body, html, .container-fluid {
  //height: 100%;
}

.container-fluid {
  min-height: 1000px;
  padding-top: 75px;
}

#main-page {
  padding: 0;
}

#content{
  //margin-top: 30px;
  //padding-top: 20px;
  background-color: #fcfcfc;
  //overflow: auto;
  //height: 100%;
}

#panel-content {
  height: 100%;
  background-color: #fcfcfc;
  margin-top: 100px;
}

.footer {
  padding-bottom: 15px;
  padding-left: 20px !important;
  background-color: #f8f8f8;
  padding-right: 15px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing{
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

h3 {
  margin-bottom: 20px;
}

/* Supporting marketing content */
//.marketing {
//  margin: 40px 0;
//  p + h4 {
//    margin-top: 28px;
//  }
//}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}


//.fa {
//  display: inline-block;
//  font-family: FontAwesome;
//  font-style: normal;
//  font-weight: normal;
//  line-height: 1;
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//}

#logo {
  padding-top: 10px;

  img {
    height: 30px;
  }
}



