head
    meta(charset='utf-8')

    meta(name='description', content='')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    title proto

    link(rel='argevide', href='images/argevide.png')
    // Place favicon.ico in the root directory
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    link(rel='stylesheet', href='styles/sidebar.css')
    link(rel='stylesheet', href='styles/panels.css')
    link(rel='stylesheet', href='styles/right-panels.css')
    link(rel='stylesheet', href='styles/bar-rating.css')
    link(rel='stylesheet', href='../bower_components/jquery-bar-rating/dist/themes/bars-movie.css')
    link(rel='stylesheet', href='styles/input-min-max-values.css')
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src='../bower_components/modernizr/modernizr.js')
    // endbuild

