ul#menu.sidebar-nav.nav-pills.nav-stacked
  li.active
    a#claim-hseq(href='#')
      span.fa-stack.fa-lg.pull-left
        i.fa.fa-dashboard.fa-stack-1x
      |  HSEQ
    ul.nav-pills.nav-stacked(style='list-style-type:none;')
      li
        a(href='#')
          span.fa-stack.fa-lg.pull-left
            i.fa.fa-flag.fa-stack-1x
          | Dokumentacja Systemu HSEQ
      li
        a(href='#')
          span.fa-stack.fa-lg.pull-left
            i.fa.fa-flag.fa-stack-1x
          | Polityka HSEQ
      li
        a#claim-hseq-3(href='#')
          span.fa-stack.fa-lg.pull-left
            i.fa.fa-flag.fa-stack-1x
          | Planowanie HSEQ
        ul.nav-pills.nav-stacked
          li
            a#claim-hseq-3-1(href='#')
              span.fa-stack.fa-lg.pull-left
                i.fa.fa-flag.fa-stack-1x
              | Identyfikacja Aspektów i Ryzyka
            ul.nav-pills.nav-stacked
              li
                a#claim-hseq-3-1-1(href='#')
                  span.fa-stack.fa-lg.pull-left
                    i.fa.fa-flag.fa-stack-1x
                  | Organizacja powinna ustanowić, wdrożyć i utrzymać prodecurę:
              ul.nav-pills.nav-stacked
                li
                  a#claim-hseq-3-1-1-1(href='#')
                    span.fa-stack.fa-lg.pull-left
                      i.fa.fa-flag.fa-stack-1x
                    | Identyfikowania aspektów środowiskowych związanych z działaniami, wyrobami i usługami
                ul.nav-pills.nav-stacked
                  li
                    a#fact-hseq-3-1-1-1(href='#')
                      span.fa-stack.fa-lg.pull-left
                        i.fa.fa-flag.fa-stack-1x
                      | Identyfikowania aspektów środowiskowych związanych z działaniami, wyrobami i usługami
          li
            a#claim-hseq-3-2(href='#')
              span.fa-stack.fa-lg.pull-left
                i.fa.fa-flag.fa-stack-1x
              | Wymagania
      li
        a#claim-hseq-4(href='#')
          span.fa-stack.fa-lg.pull-left
            i.fa.fa-flag.fa-stack-1x
          | Wdrożenie i Funkcjonowanie HSEQ
      li
        a(href='#')
          span.fa-stack.fa-lg.pull-left
            i.fa.fa-flag.fa-stack-1x
          | Ocena Wyników HSEQ
      li
        a(href='#')
          span.fa-stack.fa-lg.pull-left
            i.fa.fa-flag.fa-stack-1x
          | Analiza i Doskonalenia HSEQ
      li
        a(href='#')
          span.fa-stack.fa-lg.pull-left
            i.fa.fa-flag.fa-stack-1x
          | Przegląd Zarządzania HSEQ

// /#sidebar-wrapper
