nav.navbar.navbar-default.no-margin.navbar-fixed-top
  // Brand and toggle get grouped for better mobile display
  .navbar-header.fixed-brand
    button#menu-toggle.navbar-toggle.collapsed(type='button', data-toggle='collapse')
      span.glyphicon.glyphicon-th-large(aria-hidden='true')
    a#logo.navbar-brand(href='/')
      img(alt='Brand', src='../images/argevide.png')
      i.fa.fa-rocket.fa-4
  // navbar-header
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    ul.nav.navbar-nav
      li.active
        button#menu-toggle-2.navbar-toggle.collapse.in(data-toggle='collapse')
          span.glyphicon.glyphicon-forward(aria-hidden='true')
      li
        a#a1(href='./projects', title='Projekty') Projekty
      li
        a(href='#') Widok
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Dropdown
          span.caret
        ul.dropdown-menu
          li
            a(href='#') Action
          li
            a(href='#') Another action
          li
            a(href='#') Something else here
          li.divider(role='separator')
          li
            a(href='#') Separated link
          li.divider(role='separator')
          li
            a(href='#') One more separated link

    ul.nav.navbar-nav.navbar-right
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Profil
          span.caret
        ul.dropdown-menu
          li
            a(href='#') Profil
          li.divider(role='separator')
          li
            a(href='#') Wyloguj
      // /.navbar-collapse
    // /.container-fluid
