ul
  li
    span.block
      i.glyphicon.glyphicon-chevron-down
    a.claim-hseq4-1(href='') 4.1 Procesy związane z klientem
    ul
      li
        span.block
          i.glyphicon.glyphicon-chevron-down
        span.next-block
          a.claim-hseq4-1-1(href='') 4.1.1 Procedura określa wymagania związane z produktem/usługą
        ul
          li
            span.block
              i.glyphicon.glyphicon-chevron-down
            span.next-block
              a.claim-hseq4-1-1-1(href='') 4.1.1.1 Wymagania ustalone przez klienta
          li
            span.block
              i.glyphicon.glyphicon-chevron-down.white-icon
            span.next-block
              a(href='') 4.1.1.2 Wymagania nieustalone przez klienta, ale niezbędne do określonego lub zamierzonego zastosowania wyrobu/usługi
          li
            span.block
              i.glyphicon.glyphicon-chevron-down
            span.next-block
              a.claim-hseq4-1-1-3(href='') 4.1.1.3 Wymagania przepisów prawnychi innych mających zastosowanie do wyrobu/usługi
            ul
              li
                span
                  i.glyphicon.glyphicon-chevron-down.white-icon
                span.next-block
                  a(href='') 4.1.1.3 Wymagania przepisów prawnychi innych mających zastosowanie do wyrobu/usługi
          li
            span.block
              i.glyphicon.glyphicon-chevron-down.white-icon
            span.next-block
              a(href='') 4.1.1.4 Wszystkie inne wymagania uznane przez organizację za niezbędne
      li
        span.block
          i.glyphicon.glyphicon-chevron-down
        span.next-block
          a.claim-hseq4-1-2(href='') 4.1.2 Organizacja powinna przeprowadzić przegląd przed zobowiązaniem się do dostarczenia wyrobu/usługi
      li
        span.block
          i.glyphicon.glyphicon-chevron-down
        span.next-block
          a.claim-hseq4-1-3(href='') 4.1.3 Przegląd powinien zapewnić, że:
      li
        span.block
          i.glyphicon.glyphicon-chevron-down
        span.next-block
          a.claim-hseq4-1-4(href='') 4.1.4 Jeżeli klient przekazał wymagania w formie nieudokumentowanej,organizacja musi to potwierdzić
      li
        span.block
          i.glyphicon.glyphicon-chevron-down
        span.next-block
          a.claim-hseq4-1-5(href='') 4.1.5 Jeżeli zmieniono wymagania dotyczące wyrobu, to organizacja zapewnia by:
      li
        span.block
          i.glyphicon.glyphicon-chevron-down
        span.next-block
          a.claim-hseq4-1-6(href='') 4.1.6 Utrzymywane sa zapisy wyników przeglądu i działań z niego wynikających
      li
        span.block
          i.glyphicon.glyphicon-chevron-down
        span.next-block
          a.claim-hseq4-1-7(href='') 4.1.7 Procedury są stosowane w celu zapewnienia poufności i ochrony danych klientów i info.
      li
        span.block
          i.glyphicon.glyphicon-chevron-down
        span.next-block
          a.claim-hseq4-1-8(href='') 4.1.8 Organizacja powinna określić i wdrożyć skuteczne ustalenia związane z komunikacją z klientem dotyczące:
      li
        span.block
          i.glyphicon.glyphicon-chevron-down
        span.next-block
          a.claim-hseq4-1-8(href='') 4.1.9 System monitoruje satysfackcję klienta
  li
    span.block
      i.glyphicon.glyphicon-chevron-down
    a.claim-hseq4-2(href='') 4.2 Projektowanie i Rozwój
  li
    span.block
      i.glyphicon.glyphicon-chevron-down
    a.claim-hseq4-2(href='') 4.3 Zarządzane zamówieniami i dostawiami
  li
    span.block
      i.glyphicon.glyphicon-chevron-down
    a.claim-hseq4-2(href='') 4.4 Zaopatrzenie produktu/usługi
  li
    span.block
      i.glyphicon.glyphicon-chevron-down
    a.claim-hseq4-2(href='') 4.5 Sterowanie operacyjne
  li
    span.block
      i.glyphicon.glyphicon-chevron-down
    a.claim-hseq-4-2(href='') 4.6 Kompetencje, Szkolenia i Świadomość
  li
    span.block
      i.glyphicon.glyphicon-chevron-down
    a.claim-hseq-4-2(href='') 4.7 Nadzór nad Dokumentacją i Zarządzanie Zapisami
  li
    span.block
      i.glyphicon.glyphicon-chevron-down
    a.claim-hseq-4-2(href='') 4.8 Komunikacja, Uczestnictwo i Konsultacje
