ul.sidebar-nav.nav-pills.nav-stacked
    li
      span.title-norsta
        i.glyphicon.glyphicon-chevron-down
        |  NOR-STA
      //a(href='') Goes somewhere
      ul.nav-pills.nav-stacked(style='list-style-type:none;')
        li
          span
            i.glyphicon.glyphicon-chevron-down
            |  HSEQ
          ul
            li
              span
                i.glyphicon.glyphicon-chevron-down
              a.claim-hseq1(href='#') 1. Dokumentacja Systemu HSEQ
              ul
                li
                  span.margines
                    i
                  a(href='') 1.1 Goes somewhere
            li
              span
                i.glyphicon.glyphicon-chevron-down
              a.claim-hseq2(href='#') 2. Polityka HSEQ
              ul
                li
                  span.margines
                    i
                  a(href='') 2.1 Goes somewhere
            li
              span
                i.glyphicon.glyphicon-chevron-down
              a.claim-hseq3(href='#') 3. Planowanie HSEQ
              ul
                li
                  span
                    i.glyphicon.glyphicon-chevron-down
                  a(href='') 3.1 Identyfikacja Aspektów i Ryzyka
                  ul
                    li
                      span.block
                        i.glyphicon.glyphicon-chevron-down
                      span.next-block
                        a(href='') 3.1.1 Organizacja powinna ustanowić, wdrożyć i utrzymać prodecurę:
                      ul
                        li
                          span.block
                            i.glyphicon.glyphicon-chevron-down
                          span.next-block
                            a(href='') 3.1.1.1 Identyfikowania aspektów środowiskowych związanych z działaniami, wyrobami i usługami
                          ul
                            li
                              span
                                i.margines
                              a(href='') Identyfikowanie...
                        li
                          span.block
                            i.glyphicon.glyphicon-chevron-down.white-icon
                          span.next-block
                            a(href='') 3.1.1.2 Goes somewhere
                        li
                          span.block
                            i.glyphicon.glyphicon-chevron-down.white-icon
                          span.next-block
                            a(href='') 3.1.1.2 Goes somewhere
            li
              span
                i.glyphicon.glyphicon-chevron-down
              a.claim-hseq4(href='#') 4. Wdrożenie i Funkcjonowanie HSEQ
              include sidebar-claim-4
            li
              span
                i.glyphicon.glyphicon-chevron-down
              a.claim-hseq5(href='#') 5. Ocena Wyników HSEQ
              ul
                li
                  span.margines
                    i
                  a(href='') 5.1 Goes somewhere
            li
              span
                i.glyphicon.glyphicon-chevron-down
              a.claim-hseq-6(href='#') 6. Analiza i Doskonalenie HSEQ
              ul
                li
                  span.margines
                    i
                  a(href='') 6.1 Goes somewhere
            li
              span
                i.glyphicon.glyphicon-chevron-down
              a.claim-hseq-7(href='#') 7. Przegląd Zarządzania HSEQ
              ul
                li
                  span.margines
                    i
                  a(href='') 7.1 Goes somewhere
