nav.navbar.navbar-default.no-margin
  //Brand and toggle get grouped for better mobile display
.navbar-header.fixed-brand
  button#menu-toggle.navbar-toggle.collapsed(type='button', data-toggle='collapse')
    span.glyphicon.glyphicon-th-large(aria-hidden='true')
  a.navbar-brand(href='#')
    img(alt='Brand', src='../images/argevide.png') SEEGATESITE
navbar-header
#bs-example-navbar-collapse-1.collapse.navbar-collapse
  ul.nav.navbar-nav
    li.active
      button#menu-toggle-2.navbar-toggle.collapse.in(data-toggle='collapse') select
        span.glyphicon.glyphicon-th-large(aria-hidden='true')
// bs-example-navbar-collapse-1

// Sidebar
#sidebar-wrapper
    ul#menu.sidebar-nav.nav-pills.nav-stacked
      li.active
        a(href='#')
          span.fa-stack.fa-lg.pull-left
            i.fa.fa-dashboard.fa-stack-1x
          |  Dashboard
        ul.nav-pills.nav-stacked(style='list-style-type:none;')
          li
            a(href='#') link1
          li
            a(href='#') link2
      li
        a(href='#')
          span.fa-stack.fa-lg.pull-left
            i.fa.fa-flag.fa-stack-1x
          |  Shortcut
        ul.nav-pills.nav-stacked(style='list-style-type:none;')
          li
            a(href='#')
              span.fa-stack.fa-lg.pull-left
                i.fa.fa-flag.fa-stack-1x
              | link1
          li
            a(href='#')
              span.fa-stack.fa-lg.pull-left
                i.fa.fa-flag.fa-stack-1x
              | link2
      li
        a(href='#')
          span.fa-stack.fa-lg.pull-left
            i.fa.fa-cloud-download.fa-stack-1x
          | Overview
      li
        a(href='#')
          span.fa-stack.fa-lg.pull-left
            i.fa.fa-cart-plus.fa-stack-1x
          | Events
      li
        a(href='#')
          span.fa-stack.fa-lg.pull-left
            i.fa.fa-youtube-play.fa-stack-1x
          | About
      li
        a(href='#')
          span.fa-stack.fa-lg.pull-left
            i.fa.fa-wrench.fa-stack-1x
          | Services
      li
        a(href='#')
          span.fa-stack.fa-lg.pull-left
            i.fa.fa-server.fa-stack-1x
          | Contact
  // /#sidebar-wrapper
