.col-md-9.col-md-offset-0.pull-left.padding-content
  .col-md-12.col-md-offset-0.panels
    .row.panel-hseq1
      .col-md-1.col-md-offset-0.box-under-header.pull-left.number
        h4 1
      .col-md-5.box-under-header.pull-left.title
        a.title-hseq1(href='#')
          h4 Dokumentacja Systemu HSEQ
      .col-md-3.box-under-header.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider1') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue1 0/135
            h6.text-left.numberValue-per1 0%
      .col-md-2.box-under-header.bar-header
        span.numberValue1.numberValue 0/135
        input.slider(value='0', min='0', max='135', step='1', name='rangeslider1', type='range', data-parent='0')
      .col-md-1-1.box-under-header.button-expand
        button.claim-hseq1.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
    .row.space
    .row.panel-hseq2
      .col-md-1.col-md-offset-0.box-under-header.pull-left.number
        h4 2
      .col-md-5.box-under-header.pull-left.title
        a.title-hseq2(href='#')
          h4 Polityka HSEQ
      .col-md-3.box-under-header.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider2') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue2 0/160
            h6.text-left.numberValue-per2 0%
      .col-md-2.box-under-header.bar-header
        span.numberValue2.numberValue 0/160
        input.slider(value='0', min='0', max='160', step='1', name='rangeslider2', type='range', data-parent='0')
      .col-md-1-1.box-under-header.button-expand
        button.claim-hseq2.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
    .row.space
    .row.panel-hseq3
      .col-md-1.col-md-offset-0.box-under-header.pull-left.number
        h4 3
      .col-md-5.box-under-header.pull-left.title
        a.title-hseq3(href='#')
          h4 Planowanie HSEQ
      .col-md-3.box-under-header.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider3') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue3 0/750
              h6.text-left.numberValue-per3 0%
      .col-md-2.box-under-header.bar-header
        span.numberValue3.numberValue 0/750
        input.slider(value='0', min='0', max='750', step='1', name='rangeslider3', type='range', data-parent='0', disabled )
      .col-md-1-1.box-under-header.button-expand
        button.claim-hseq3.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
    .row.space
    .row.panel-hseq4
      .col-md-1.col-md-offset-0.box-under-header.pull-left.number
        h4 4
      .col-md-5.box-under-header.pull-left.title
        a.title-hseq4(href='#')
          h4 Wdrożenie i Funkcjonowanie HSEQ
      .col-md-3.box-under-header.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider4') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue4 0/140
              h6.text-left.numberValue-per4 0%
      .col-md-2.box-under-header.bar-header
        span.numberValue4.numberValue 0/1404
        input.slider(value='0', min='0', max='1404', step='1', name='rangeslider4', type='range', data-parent='0', disabled )
      .col-md-1-1.box-under-header.button-expand
        button.claim-hseq4.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
    .row.space
    .row.panel-hseq5
      .col-md-1.col-md-offset-0.box-under-header.pull-left.number
        h4 5
      .col-md-5.box-under-header.pull-left.title
        a.title-hseq5(href='#')
          h4 Ocena Wyników HSEQ
      .col-md-3.box-under-header.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider5') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue5 0/725
              h6.text-left.numberValue-per5 0%
      .col-md-2.box-under-header.bar-header
        span.numberValue5.numberValue 0/725
        input.slider(value='0', min='0', max='725', step='1', name='rangeslider5', type='range',data-parent='0' )
      .col-md-1-1.box-under-header.button-expand
        button.claim-hseq5.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
    .row.space
    .row.panel-hseq6
      .col-md-1.col-md-offset-0.box-under-header.pull-left.number
        h4 6
      .col-md-5.box-under-header.pull-left.title
        a.title-hseq6(href='#')
          h4 Analiza i Doskonalenie HSEQ
      .col-md-3.box-under-header.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider6') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue6 0/176
            h6.text-left.numberValue-per6 0%
      .col-md-2.box-under-header.bar-header
        span.numberValue6.numberValue 0/176
        input.slider(value='0', min='0', max='176', step='1', name='rangeslider6', type='range', data-parent='0', disabled )
      .col-md-1-1.box-under-header.button-expand
        button.claim-hseq6.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
    .row.space
    .row.panel-hseq7
      .col-md-1.col-md-offset-0.box-under-header.pull-left.number
        h4 7
      .col-md-5.box-under-header.pull-left.title
        a.title-hseq7(href='#')
          h4 Przegląd Zarządzania HSEQ
      .col-md-3.box-under-header.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider7') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue7 0/230
            h6.text-left.numberValue-per7 0%
      .col-md-2.box-under-header.bar-header
        span.numberValue7.numberValue 0/230
        input.slider(value='0', min='0', max='230', step='1', name='rangeslider7', type='range', data-parent='0', disabled )
      .col-md-1-1.box-under-header.button-expand
        button.claim-hseq7.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
include right-panels
//include includes/scripts
script(src='scripts/main.js')
script(src='scripts/pie.js')


