.col-md-9.pull-left.padding-content
  .col-md-12.panels
    .row.panel-hseq3
      .col-md-1.box-under-header.pull-left.number
        h4 3
      .col-md-4.box-under-header.pull-left.title
        h4.title-hseq3 Planowanie HSEQ
      .col-md-3.box-under-header.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider3') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue3 0/750
            h6.text-left.numberValue-per3 0%
      .col-md-2.box-under-header.bar
        span.numberValue3.numberValue 0/750
        input.slider(value='0', min='0', max='750', step='1', name='rangeslider3', data-children='31,32,33,34,35,36,37,38,39', type='range', disabled, data-parent='0' )
      .col-md-1-1.box-under-header.filter
        select#filterHSEQ.form-control.filter-select(name='filterHSEQ', data-filter-name='hseq')
          option(value='All') All
          option(value='HS') HS
          option(value='E') E
          option(value='Q') Q
      .col-md-1-2.box-under-header.button-expand-three
        button.claim-hseq0.btn.btn-primary.btn-sm.custom-btn.up(type='button') Do góry
        button.claim-hseq2.btn.btn-primary.btn-sm.custom-btn.arrow(type='button')
          i.fa.fa-angle-double-left(aria-hidden='true')
        button.claim-hseq4.btn.btn-primary.btn-sm.custom-btn.arrow(type='button')
          i.fa.fa-angle-double-right(aria-hidden='true')
    .col-md-12.panels.filter-group.padding-content
      .row.panel-hseq3-1.hseq(data-hseq="")
        .col-md-1.box-under-header-sx.pull-left.number
          h5 3.1
        .col-md-4.box-under-header-sx.pull-left.title
          a.title-hseq3-1(href='#')
            h5 Identyfikacja Aspektów i Ryzyka
        .col-md-3.box-under-header-sx.assessment-icon
          .row
            .col-md-4
              .pie.pull-left(data-name='rangeslider31') 60%
            .col-md-4
              h6 Wynik
              h6 Oceniono
            .col-md-4
              h6.text-left.numberValue31- 0/140
              h6.text-left.numberValue-per31 0%
        .col-md-2.box-under-header-sx.bar
          span.numberValue31.numberValue 0/140
          input.slider(value='0', min='0', max='140', step='1', name='rangeslider31', data-parent='3', type='range', disabled)
        .col-md-1-1.box-under-header-sx.filter
        .col-md-1-2.box-under-header-sx.button-expand
          button.claim-hseq3-1.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
      .row.space
      .row.panel-hseq3-2.hseq(data-hseq="Q")
        .col-md-1.box-under-header-sx.pull-left.number
          h5 3.2
          h5 Q
        .col-md-4.box-under-header-sx.pull-left.title
          a.title-hseq3-2(href='#')
            h5 Wymagania
        .col-md-3.box-under-header-sx.assessment-icon
          .row
            .col-md-4
              .pie.pull-left(data-name='rangeslider32') 60%
            .col-md-4
              h6 Wynik
              h6 Oceniono
            .col-md-4
              h6.text-left.numberValue32 0/70
              h6.text-left.numberValue-per32 0%
        .col-md-2.box-under-header-sx.bar
          span.numberValue32.numberValue 0/70
          input.slider(value='0', min='0', max='70', step='1', name='rangeslider32', data-parent='3', type='range')
        .col-md-1-1.box-under-header-sx.filter
          h3 Q
        .col-md-1-2.box-under-header-sx.button-expand
          button.claim-hseq3-2.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
      .row.space
      .row.panel-hseq3-3.hseq(data-hseq="")
        .col-md-1.box-under-header-sx.pull-left.number
          h5 3.3
        .col-md-4.box-under-header-sx.pull-left.title
          a.title-hseq3-3(href='#')
            h5 Cele i zadania
        .col-md-3.box-under-header-sx.assessment-icon
          .row
            .col-md-4
              .pie.pull-left(data-name='rangeslider33') 60%
            .col-md-4
              h6 Wynik
              h6 Oceniono
            .col-md-4
              h6.text-left.numberValue33 0/137
              h6.text-left.numberValue-per33 0%
        .col-md-2.box-under-header-sx.bar
          span.numberValue33.numberValue 0/137
          input.slider(value='0', min='0', max='137', step='1', name='rangeslider33', data-parent='3', type='range')
        .col-md-1-1.box-under-header-sx.filter
        .col-md-1-2.box-under-header-sx.button-expand
          button.claim-hseq3-3.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
      .row.space
      .row.panel-hseq3-4.hseq(data-hseq="Q")
        .col-md-1.box-under-header-sx.pull-left.number
          h5 3.4
          h5 Q
        .col-md-4.box-under-header-sx.pull-left.title
          a.title-hseq3-4(href='#')
            h5 Zapewnienie zasobów
        .col-md-3.box-under-header-sx.assessment-icon
          .row
            .col-md-4
              .pie.pull-left(data-name='rangeslider34') 60%
            .col-md-4
              h6 Wynik
              h6 Oceniono
            .col-md-4
              h6.text-left.numberValue34 0/65
              h6.text-left.numberValue-per34 0%
        .col-md-2.box-under-header-sx.bar
          span.numberValue34.numberValue 0/65
          input.slider(value='0', min='0', max='65', step='1', name='rangeslider34', data-parent='3', type='range')
        .col-md-1-1.box-under-header-sx.filter
          h4 Q
        .col-md-1-2.box-under-header-sx.button-expand
          button.claim-hseq3-4.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
      .row.space
      .row.panel-hseq3-5.hseq(data-hseq="")
        .col-md-1.box-under-header-sx.pull-left.number
          h5 3.5
        .col-md-4.box-under-header-sx.pull-left.title
          a.title-hseq3-5(href='#')
            h5 Struktura, Role, Odpowiedzialnośc i Uprawnienia
        .col-md-3.box-under-header-sx.assessment-icon
          .row
            .col-md-4
              .pie.pull-left(data-name='rangeslider35') 60%
            .col-md-4
              h6 Wynik
              h6 Oceniono
            .col-md-4
              h6.text-left.numberValue35 0/123
              h6.text-left.numberValue-per35 0%
        .col-md-2.box-under-header-sx.bar
          span.numberValue35.numberValue 0/123
          input.slider(value='0', min='0', max='123', step='1', name='rangeslider35', data-parent='3', type='range')
        .col-md-1-1.box-under-header-sx.filter
        .col-md-1-2.box-under-header-sx.button-expand
          button.claim-hseq3-5.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
      .row.space
      .row.panel-hseq3-6.hseq(data-hseq="Q")
        .col-md-1.box-under-header-sx.pull-left.number
          h5 3.6
          h5 Q
        .col-md-4.box-under-header-sx.pull-left.title
          a.title-hseq3-6(href='#')
            h5 Realizacja Procesów Planowania Produktu/Usługi
        .col-md-3.box-under-header-sx.assessment-icon
          .row
            .col-md-4
              .pie.pull-left(data-name='rangeslider36') 60%
            .col-md-4
              h6 Wynik
              h6 Oceniono
            .col-md-4
              h6.text-left.numberValue36 0/103
              h6.text-left.numberValue-per36 0%
        .col-md-2.box-under-header-sx.bar
          span.numberValue36.numberValue 0/103
          input.slider(value='0', min='0', max='103', step='1', name='rangeslider36', data-parent='3', type='range')
        .col-md-1-1.box-under-header-sx.filter
          h4 Q
        .col-md-1-2.box-under-header-sx.button-expand
          button.claim-hseq3-6.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
      .row.space
      .row.panel-hseq3-7.hseq(data-hseq="Q")
        .col-md-1.box-under-header-sx.pull-left.number
          h5 3.7
          h5 Q
        .col-md-4.box-under-header-sx.pull-left.title
          a.title-hseq3-7(href='#')
            h5 Gotowość i Reagowanie na Awarie
        .col-md-3.box-under-header-sx.assessment-icon
          .row
            .col-md-4
              .pie.pull-left(data-name='rangeslider37') 60%
            .col-md-4
              h6 Wynik
              h6 Oceniono
            .col-md-4
              h6.text-left.numberValue37 0/112
              h6.text-left.numberValue-per37 0%
        .col-md-2.box-under-header-sx.bar
          span.numberValue37.numberValue 0/112
          input.slider(value='0', min='0', max='112', step='1', name='rangeslider37', data-parent='3', type='range')
        .col-md-1-1.box-under-header-sx.filter
          h4 Q
        .col-md-1-2.box-under-header-sx.button-expand
          button.claim-hseq4-7.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
      .row.space

include right-panels
//include includes/scripts
script(src='scripts/main.js')
script(src='scripts/pie.js')
script(src='scripts/panels.js')
