.col-md-9.pull-leftl.padding-content
  .col-md-12.panels-md
    .row
      .col-md-1.box-under-header.pull-left.number
        h4 4.1.1.3
      .col-md-4.box-under-header.pull-left.title
        h4
          a.title-hseq4-1-1-3 Wymagania przepisów prawnychi innych mających zastosowanie do wyrobu/usługi
      .col-md-2-7.box-under-header.assessment-icon.pull-left
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider4113') 0%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue4113 0/15
            h6.text-left.numberValue-per4113 0%
      .col-md-2.box-under-header.bar
        span.numberValue4113.numberValue 0/15
        input.slider(value='0', min='0', max='15', step='1', name='rangeslider4113', data-children='4113-HS,4113-E,4113-Q' type='range', disabled)
      .col-md-1-1.box-under-header.filter
        select#filterHSEQ.form-control.filter-select(name='filterHSEQ', data-filter-name='hseq')
          option(value='All') All
          option(value='HS') HS
          option(value='E') E
          option(value='Q') Q
      .col-md-1-2.box-under-header.button-expand-three
        button.claim-hseq4-1-1.btn.btn-primary.btn-sm.custom-btn.up(type='button') Do góry
        button.claim-hseq4-1-1-2.btn.btn-primary.btn-sm.custom-btn.arrow(type='button' disabled)
          i.fa.fa-angle-double-left(aria-hidden='true')
        button.claim-hseq4-1-1-4.btn.btn-primary.btn-sm.custom-btn.arrow(type='button')
          i.fa.fa-angle-double-right(aria-hidden='true')
    .col-md-12.panels.filter-group.padding-content
      .row.panel-hseq4-1-1-3-HS.hseq.space(data-hseq="HS")
        .col-md-1.box-under-header-sx.pull-left.number
          h5 4.1.1.3
          h5 HS
        .col-md-4.box-under-header-sx.pull-left.title
          a.title-hseq4-1-1-3-HS(href='#')
            h5 Wymagania przepisów prawnychi innych mających zastosowanie do wyrobu/usługi
        .col-md-3.box-under-header-sx.assessment-icon.pull-left
          .row
            .col-md-4
              .pie.pull-left(data-name='rangeslider4113-HS') 60%
            .col-md-4
              h6 Wynik
              h6 Oceniono
            .col-md-4
              h6.text-left.numberValue4113-HS 0/5
              h6.text-left.numberValue-per4113-HS 0%
        .col-md-2.box-under-header-sx.bar
          span.numberValue4113-HS.numberValue 0/5
          input.slider(value='0', min='0', max='5', step='1', name='rangeslider4113-HS', data-parent='4113', type='range')
        .col-md-1-1.box-under-header-sx.filter
          h4 HS
        .col-md-1-2.box-under-header-sx.button-expand
          //button.claim-hseq4-1-1-3-HS.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
      .row.panel-hseq4-1-1-3-E.hseq.space(data-hseq="E")
        .col-md-1.box-under-header-sx.pull-left.number
          h5 4.1.1.3
          h5 E
        .col-md-4.box-under-header-sx.pull-left.title
          a.title-hseq4-1-1-3-E(href='#')
            h5 Wymagania przepisów prawnychi innych mających zastosowanie do wyrobu/usługi
        .col-md-3.box-under-header-sx.assessment-icon
          .row
            .col-md-4
              .pie.pull-left(data-name='rangeslider4113-E') 60%
            .col-md-4
              h6 Wynik
              h6 Oceniono
            .col-md-4
              h6.text-left.numberValue4113-E 0/5
              h6.text-left.numberValue-per4113-E 0%
        .col-md-2.box-under-header-sx.bar
          span.numberValue4113-E.numberValue 0/5
          input.slider(value='0', min='0', max='5', step='1', name='rangeslider4113-E', data-parent='4113', type='range')
        .col-md-1-1.box-under-header-sx.filter
          h4 E
        .col-md-1-2.box-under-header-sx.button-expand
          //button.claim-hseq4-1-1-3-HS.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
      .row.panel-hseq4-1-1-3-Q.hseq(data-hseq="Q")
        .col-md-1.box-under-header-sx.pull-left.number
          h5 4.1.1.3
          h5 Q
        .col-md-4.box-under-header-sx.pull-left.title
          a.title-hseq4-1-1-3-Q(href='#')
            h5 Wymagania przepisów prawnychi innych mających zastosowanie do wyrobu/usługi
        .col-md-3.box-under-header-sx.assessment-icon
          .row
            .col-md-4
              .pie.pull-left(data-name='rangeslider4113-Q') 60%
            .col-md-4
              h6 Wynik
              h6 Oceniono
            .col-md-4
              h6.text-left.numberValue4113-Q 0/5
              h6.text-left.numberValue-per4113-Q 0%
        .col-md-2.box-under-header-sx.bar
          span.numberValue4113-Q.numberValue 0/5
          input.slider(value='0', min='0', max='5', step='1', name='rangeslider4113-Q',data-parent='4113', type='range')
        .col-md-1-1.box-under-header-sx.filter
          h4 Q
        .col-md-1-2.box-under-header-sx.button-expand
          //button.claim-hseq4-1-1-3-HS.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń

include right-panels

//include includes/scripts
script(src='scripts/main.js')
script(src='scripts/pie.js')
