.col-md-9.col-md-offset-0.pull-leftl.panel-margin
  .col-md-12.col-md-offset-0.panels
    .row
      .col-md-1.col-md-offset-0.box-under-header.pull-left.number
        h4 4.1
      .col-md-4.box-under-header.pull-left.title
        h4 Procesy związane z klientem
      .col-md-3.box-under-header.assessment-icon.pull-left
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider41') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue41 0/179
            h6.text-left.numberValue-per41 0%
      .col-md-2.box-under-header.assessment-icon
          span.numberValue41.numberValue 0/179
          input.slider(value='0', min='0', max='179', step='1', name='rangeslider41', data-children='411,412,413,414,415,416,417,418,419', type='range', disabled )
      .col-md-1-1.box-under-header.assessment-icon
          select#filterHSEQ.form-control.filter-select(name='filterHSEQ', data-filter-name='hseq')
            option(value='All') All
            option(value='HS') HS
            option(value='E') E
            option(value='Q') Q
      .col-md-1
        button.btn.btn-assessment.btn-sm(type='button') Oceń
        //button.claim-hseq3.btn.btn-default.navbar-btn(type='button')
        //  i.fa.fa-angle-double-left(aria-hidden='true')
        button.claim-hseq-4-2.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-right(aria-hidden='true')
  .col-md-12.col-md-offset-0.panels.filter-group
    .row.hseq(data-hseq="")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.1.1
      .panel.col-md-5.box-under-header-sx.pull-left.title
        a.claim-hseq4-1-1(href='#')
          h5 Procedura określa wymagania związane z produktem/usługą
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider411') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue411 0/44
            h6.text-left.numberValue-per411 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue411.numberValue 0/44
        input.slider(value='0', min='0', max='44', step='1', name='rangeslider411', data-parent='41', type='range', disabled)
    .row.hseq(data-hseq="Q")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.1.2
        h5 Q
      .panel.col-md-5.box-under-header-sx.pull-left.title
        a.claim-hseq4-1-2(href='#')
          h5 Organizacja powinna przeprowadzić przegląd przed zobowiązaniem się do dostarczenia wyrobu/usługi
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider412') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue412 0/10
            h6.text-left.numberValue-per412 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue412.numberValue 0/10
        input.slider(value='0', min='0', max='10', step='1', name='rangeslider412', data-parent='41', type='range')
    .row.hseq(data-hseq="")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.1.3
      .panel.col-md-5.box-under-header-sx.pull-left.title
        a.claim-hseq4-1-3(href='#')
          h5 Przegląd powinien zapewnić, że:
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider413') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue413 0/10
            h6.text-left.numberValue-per413 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue413.numberValue 0/30
        input.slider(value='0', min='0', max='30', step='1', name='rangeslider413', data-parent='41', type='range')
    .row.hseq(data-hseq="Q")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.1.4
        h5 Q
      .panel.col-md-5.box-under-header-sx.pull-left.title
        a.claim-hseq4-1-4(href='#')
          h5 Jeżeli klient przekazał wymagania w formie nieudokumentowanej,organizacja musi to powteirdzic
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider414') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue414 0/10
            h6.text-left.numberValue-per414 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue414.numberValue 0/10
        input.slider(value='0', min='0', max='10', step='1', name='rangeslider414', data-parent='41', type='range')
    .row.hseq(data-hseq="")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.1.5
      .panel.col-md-5.box-under-header-sx.pull-left.title
        a.claim-hseq4-1-5(href='#')
          h5 Jeżeli zmieniono wymagania dotyczące wyrobu, to organizacja zapewnia by:
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider415') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue415 0/10
            h6.text-left.numberValue-per415 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue415.numberValue 0/10
        input.slider(value='0', min='0', max='10', step='1', name='rangeslider415', data-parent='41', type='range')
    .row.hseq(data-hseq="Q")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.1.6
        h5 Q
      .panel.col-md-5.box-under-header-sx.pull-left.title
        a.claim-hseq4-1-6(href='#')
          h5 Utrzymywane sa zapisy wyników przeglądu i działań z niego wynikających
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider416') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue416 0/15
            h6.text-left.numberValue-per416 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue416.numberValue 0/15
        input.slider(value='0', min='0', max='15', step='1', name='rangeslider416', data-parent='41', type='range')
    .row.hseq(data-hseq="Q")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.1.7
        h5 Q
      .panel.col-md-5.box-under-header-sx.pull-left.title
        a.claim-hseq4-1-7(href='#')
          h5 Procedury są stosowane w celu zapewnienia poufności i ochrony danych klientów i info.
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider417') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue417 0/15
            h6.text-left.numberValue-per417 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue417.numberValue 0/15
        input.slider(value='0', min='0', max='15', step='1', name='rangeslider417', data-parent='41', type='range')
    .row.hseq(data-hseq="")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.1.8
      .panel.col-md-5.box-under-header-sx.pull-left.title
        a.claim-hseq4-1-8(href='#')
          h5 Organizacja powinna określić i wdroży ć skuteczne ustalenia związane z komunikacją z klientem dotyczące:
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider418') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue418 0/15
            h6.text-left.numberValue-per418 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue418.numberValue 0/15
        input.slider(value='0', min='0', max='15', step='1', name='rangeslider418', data-parent='41', type='range')
    .row.hseq(data-hseq="Q")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.1.9
        h5 Q
      .panel.col-md-5.box-under-header-sx.pull-left.title
        a.claim-hseq4-1-9(href='#')
          h5System monitoruje satysfackcję klienta
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider419') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue419 0/30
            h6.text-left.numberValue-per419 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue419.numberValue 0/30
        input.slider(value='0', min='0', max='30', step='1', name='rangeslider419', data-parent='41', type='range')
.col-md-3.col-md-offset-0.pull-right.panel-margin
  #accordion.panel-group(role='tablist', aria-multiselectable='true')
    .panel.panel-default
      #headingOne.panel-heading(role='tab')
        h4.panel-title
          a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne') Szczegóły
      #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
        .panel-body
            .box-header Movie Rating
            .box-body
              select#example-movie(name='rating')
                option(value='Bad') Bad
                option(value='Mediocre') Mediocre
                option(value='Good', selected='selected') Good
                option(value='Awesome') Awesome
    .panel.panel-default
      #headingTwo.panel-heading(role='tab')
        h4.panel-title
          a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo') Dowody
      #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
        .panel-body
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    .panel.panel-default
      #headingThree.panel-heading(role='tab')
        h4.panel-title
          a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree') Ocena
      #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
        .panel-body
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.

  #bs-collapse.panel-group.wrap
    .panel
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='', href='#one')
            | Collapse item #1
      #one.panel-collapse.collapse
        .panel-body
          | Where now are the horse and the rider? Where is the horn that was blowing? Where is the helm and the hauberk, and the bright hair flowing?
    // end of panel
    .panel
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='', href='#two')
            | Collapse item #2
      #two.panel-collapse.collapse
        .panel-body
          | Where is the harp on the harpstring, and the red fire glowing? Where is the spring and the harvest and the tall corn growing?
    // end of panel
    .panel
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='', href='#three')
            | Collapse item #3
      #three.panel-collapse.collapse
        .panel-body
          | The days have gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning? The days have gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning?The days have gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning?The days have gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning?
    // end of panel
    .panel
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='', href='#four')
            | Collapse item #4
      #four.panel-collapse.collapse.in
        .panel-body
          | They have passed like rain on the mountain, like a wind in the meadow; The days have gone down in the West behind the hills into shadow.
    // end of panel
  // end of #bs-collapse

//include includes/scripts
script(src='scripts/main.js')
script(src='scripts/pie.js')
