.col-md-9.col-md-offset-0.pull-leftl.panel-margin
  .col-md-12.col-md-offset-0.panels
    .row
      .col-md-1.col-md-offset-0.box-under-header.pull-left.number
        h4 4.1.1
      .col-md-4.box-under-header.pull-left.title
        h4 Procedura określa wymagania związane z produktem/usługą
      .col-md-3.box-under-header.assessment-icon.pull-left
        .row
          .col-md-4
            .pie.pull-left 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue-all-4-1-1 0/44
            h6.text-left.numberValue-per-4-1-1 0%
      .col-md-2.box-under-header.assessment-icon
        span.numberValue-all-4-1-1.numberValue 0/44
        input.slider(value='0', min='0', max='44', step='1', name='allRating1', data-children='1,2,3,4', type='range')
      .col-md-1-1.box-under-header.assessment-icon
        select#filterHSEQ.form-control.filter-select(name='filterHSEQ', data-filter-name='hseq')
          option(value='All') All
          option(value='HS') HS
          option(value='E') E
          option(value='Q') Q
      .col-md-1
        //button.btn.btn-assessment.btn-sm(type='button') Oceń
        //button.claim-hseq-3.btn.btn-default.navbar-btn(type='button')
        //  i.fa.fa-angle-double-left(aria-hidden='true')
        button.claim-hseq-4-1-2.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-right(aria-hidden='true')
  .col-md-12.col-md-offset-0.panels.filter-group
    .row.hseq(data-hseq="Q")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.1.1.1
        h5 Q
      .panel.col-md-5.box-under-header-sx.pull-left.title
        a.claim-hseq-4-1-1-1(href='#')
          h5 Wymagania ustalone przez klienta
      .col-md-3.box-under-header-sx.assessment-icon.pull-left
        .row
          .col-md-4
            #pie1.pie.pull-left 10
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue-4-1-1-1 0/8
            h6.text-left.numberValue-per-4-1-1-1 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue-4-1-1-1.numberValue 0/8
        input.slider(value='0', min='0', max='8', step='1', name='rangeslider1', data-parent='1', type='range')
    .row.hseq(data-hseq="Q")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.1.1.2
        h5 Q
      .panel.col-md-5.box-under-header-sx.pull-left.title
        a(href='#')
          h5 Wymagania nieustalone przez klienta, ale niezbędne do określonego lub zamierzonego zastosowania wyrobu/usługi
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            #pie2.pie.pull-left 40%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue-4-1-1-2 0/5
            h6.text-left.numberValue-per-4-1-1-2 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue-4-1-1-2.numberValue 0/5
        input.slider(value='0', min='0', max='5', step='1', name='rangeslider2', data-parent='1', type='range')
    .row.hseq(data-hseq="")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.1.1.3
      .panel.col-md-5.box-under-header-sx.pull-left.title
        a.claim-hseq-4-1-1-3(href='#')
          h5 Wymagania przepisów prawnychi innych mających zastosowanie do wyrobu/usługi
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            #pie3.pie.pull-left 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue-4-1-1-3 0/15
            h6.text-left.numberValue-per-4-1-1-3 10%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue-4-1-1-3.numberValue 0/15
        input.slider(value='0', min='0', max='15', step='1', name='rangeslider3', data-parent='1', type='range')
    .row.hseq(data-hseq="")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.1.1.4
      .panel.col-md-5.box-under-header-sx.pull-left.title
        a(href='#')
          h5 Wszystkie inne wymagania uznane przez organizację za niezbędne
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            #pie4.pie.pull-left 0%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue-4-1-1-4 0/16
            h6.text-left.numberValue-per-4-1-1-4 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue-4-1-1-4.numberValue 0/16
        input.slider(value='0', min='0', max='16', step='1', name='rangeslider4', data-parent='1', type='range')
.col-md-3.col-md-offset-0.pull-right.panel-margin
  //#accordion.panel-group(role='tablist', aria-multiselectable='true')
  //  .panel.panel-default
  //    #headingOne.panel-heading(role='tab')
  //      h4.panel-title
  //        a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne') Szczegóły
  //    #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
  //      .panel-body
  //        | Wymóg ten ma na celu zapewnienie, że organizacja całkowicie rozumie wymagania klienta i innych zainteresowanych stron, przed podjęciem jakichkolwiek zobowiązań lub czynności do wykonania.
  //  .panel.panel-default
  //    #headingTwo.panel-heading(role='tab')
  //      h4.panel-title
  //        a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo') Dowody
  //    #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
  //      .panel-body
  //        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  //  .panel.panel-default
  //    #headingThree.panel-heading(role='tab')
  //      h4.panel-title
  //        a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree') Ocena
  //    #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
  //      .panel-body
  //        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.

  #bs-collapse.panel-group.wrap
    .panel
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='', href='#one')
            | Collapse item #1
      #one.panel-collapse.collapse
        .panel-body
          | Where now are the horse and the rider? Where is the horn that was blowing? Where is the helm and the hauberk, and the bright hair flowing?
    // end of panel
    .panel
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='', href='#two')
            | Collapse item #2
      #two.panel-collapse.collapse
        .panel-body
          | Where is the harp on the harpstring, and the red fire glowing? Where is the spring and the harvest and the tall corn growing?
    // end of panel
    .panel
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='', href='#three')
            | Collapse item #3
      #three.panel-collapse.collapse
        .panel-body
          | The days have gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning? The days have gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning?The days have gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning?The days have gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning?
    // end of panel
    .panel
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='', href='#four')
            | Collapse item #4
      #four.panel-collapse.collapse.in
        .panel-body
          | They have passed like rain on the mountain, like a wind in the meadow; The days have gone down in the West behind the hills into shadow.
    // end of panel
  // end of #bs-collapse

//include includes/scripts
script(src='scripts/main.js')
script(src='scripts/pie.js')
