.col-md-9.col-md-offset-0.pull-leftl.panel-margin
  .col-md-12.col-md-offset-0.panels-md
    .row
      .col-md-1.col-md-offset-0.box-under-header.pull-left.number
        h4 4.1.1.3
      .col-md-4.box-under-header.pull-left.title
        h4
          a.title-hseq4-1-1-3 Wymagania przepisów prawnychi innych mających zastosowanie do wyrobu/usługi
      .col-md-3.box-under-header.assessment-icon.pull-left
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider4113') 0%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue4113 0/15
            h6.text-left.numberValue-per4113 0%
      .col-md-2.box-under-header.assessment-icon
        span.numberValue4113.numberValue 0/15
        input.slider(value='0', min='0', max='15', step='1', name='rangeslider4113', data-children='4113-HS,4113-E,4113-Q' type='range', disabled)
      .col-md-1-1.box-under-header.assessment-icon
        select#filterHSEQ.form-control.filter-select(name='filterHSEQ', data-filter-name='hseq')
          option(value='All') All
          option(value='HS') HS
          option(value='E') E
          option(value='Q') Q
      .col-md-1-2
        button.claim-hseq4-1-1.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-up(aria-hidden='true')
        button.claim-hseq4-1-1-4.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-right(aria-hidden='true')
        button.claim-hseq4-1.btn.btn-default.navbar-btn(type='button' disabled)
          i.fa.fa-angle-double-left(aria-hidden='true')

  .col-md-12.col-md-offset-0.panels.filter-group
    .row.hseq(data-hseq="HS")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.1.1.3
        h5 HS
      .panel.col-md-4.box-under-header-sx.pull-left.title
        a.claim-hseq-4-1-1-3-HS(href='#')
          h5 Wymagania przepisów prawnychi innych mających zastosowanie do wyrobu/usługi
      .col-md-3.box-under-header-sx.assessment-icon.pull-left
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider4113-HS') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue4113-HS 0/5
            h6.text-left.numberValue-per4113-HS 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue4113-HS.numberValue 0/5
        input.slider(value='0', min='0', max='5', step='1', name='rangeslider4113-HS', data-parent='4113', type='range')
      .col-md-1.box-under-header-sx.assessment-icon
        h4 HS
      .col-md-1
        //button.claim-hseq4-1-1-1.btn.btn-default.navbar-btn(type='button')
        //  i.fa.fa-angle-double-down(aria-hidden='true')
    .row.hseq(data-hseq="E")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.1.1.3
        h5 E
      .panel.col-md-4.box-under-header-sx.pull-left.title
        a(href='#')
          h5 Wymagania przepisów prawnychi innych mających zastosowanie do wyrobu/usługi
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider4113-E') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue4113-E 0/5
            h6.text-left.numberValue-per4113-E 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue4113-E.numberValue 0/5
        input.slider(value='0', min='0', max='5', step='1', name='rangeslider4113-E', data-parent='4113', type='range')
      .col-md-1.box-under-header-sx.assessment-icon
        h4 E
      .col-md-1
        //button.claim-hseq4-1-1-1.btn.btn-default.navbar-btn(type='button')
        //  i.fa.fa-angle-double-down(aria-hidden='true')
    .row.hseq(data-hseq="Q")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.1.1.3
        h5 Q
      .panel.col-md-4.box-under-header-sx.pull-left.title
        a(href='#')
          h5 Wymagania przepisów prawnychi innych mających zastosowanie do wyrobu/usługi
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider4113-Q') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue4113-Q 0/5
            h6.text-left.numberValue-per4113-Q 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue4113-Q.numberValue 0/5
        input.slider(value='0', min='0', max='5', step='1', name='rangeslider4113-Q',data-parent='4113', type='range')
      .col-md-1.box-under-header-sx.assessment-icon
        h4 Q
      .col-md-1
        //button.claim-hseq4-1-1-1.btn.btn-default.navbar-btn(type='button')
        //  i.fa.fa-angle-double-down(aria-hidden='true')

include right-panels

//include includes/scripts
script(src='scripts/main.js')
script(src='scripts/pie.js')
