.col-md-9.pull-leftl.panel-margin(style='display: none')
  input.slider(value='0', min='0', max='1404', step='1', name='rangeslider4', data-children='41,42,43,44,45,46,47,48,49', type='range', disabled, data-parent='0' )
.col-md-9.pull-leftl.padding-content
  .col-md-12.panels
    .row.panel-hseq4-1
      .col-md-1.box-under-header.pull-left.number
        h4 4.1
      .col-md-4.box-under-header.pull-left.title
        h4.title-hseq4-1 Procesy związane z klientem
      .col-md-3.box-under-header.assessment-icon.pull-left
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider41') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue41 0/179
            h6.text-left.numberValue-per41 0%
      .col-md-2.box-under-header.bar
        span.numberValue41.numberValue 0/179
        input.slider(value='0', min='0', max='179', step='1', name='rangeslider41', data-children='411,412,413,414,415,416,417,418,419', type='range', disabled, data-parent='4')
      .col-md-1-1.box-under-header.filter
        select#filterHSEQ.form-control.filter-select(name='filterHSEQ', data-filter-name='hseq')
          option(value='All') All
          option(value='HS') HS
          option(value='E') E
          option(value='Q') Q
      .col-md-1-2.box-under-header.button-expand-three
        button.claim-hseq4.btn.btn-primary.btn-sm.custom-btn.up(type='button') Do góry
        button.claim-hseq4-1.btn.btn-primary.btn-sm.custom-btn.arrow(type='button' disabled)
          i.fa.fa-angle-double-left(aria-hidden='true')
        button.claim-hseq4-2.btn.btn-primary.btn-sm.custom-btn.arrow(type='button')
          i.fa.fa-angle-double-right(aria-hidden='true')
    .col-md-12.panels.filter-group.padding-content
      .row.panel-hseq4-1-1.hseq(data-hseq="")
        .col-md-1.box-under-header-sx.pull-left.number
          h5 4.1.1
        .col-md-4.box-under-header-sx.pull-left.title
          a.title-hseq4-1-1(href='#')
            h5 Procedura określa wymagania związane z produktem/usługą
        .col-md-3.box-under-header-sx.assessment-icon
          .row
            .col-md-4
              .pie.pull-left(data-name='rangeslider411') 60%
            .col-md-4
              h6 Wynik
              h6 Oceniono
            .col-md-4
              h6.text-left.numberValue411 0/44
              h6.text-left.numberValue-per411 0%
        .col-md-2.box-under-header-sx.bar
          span.numberValue411.numberValue 0/44
          input.slider(value='0', min='0', max='44', step='1', name='rangeslider411', data-parent='41', type='range', disabled)
        .col-md-1-1.box-under-header-sx.filter
        .col-md-1-2.box-under-header-sx.button-expand
          button.claim-hseq4-1-1.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
      .row.space
      .row.hseq(data-hseq="Q")
        .col-md-1.box-under-header-sx.pull-left.number
          h5 4.1.2
          h5 Q
        .panel.col-md-4.box-under-header-sx.pull-left.title
          a.title-hseq4-1-2(href='#')
            h5 Organizacja powinna przeprowadzić przegląd przed zobowiązaniem się do dostarczenia wyrobu/usługi
        .col-md-3.box-under-header-sx.assessment-icon
          .row
            .col-md-4
              .pie.pull-left(data-name='rangeslider412') 60%
            .col-md-4
              h6 Wynik
              h6 Oceniono
            .col-md-4
              h6.text-left.numberValue412 0/10
              h6.text-left.numberValue-per412 0%
        .col-md-2.box-under-header-sx.bar
          span.numberValue412.numberValue 0/10
          input.slider(value='0', min='0', max='10', step='1', name='rangeslider412', data-parent='41', type='range')
        .col-md-1.box-under-header-sx.filter
          h4 Q
      .row.hseq(data-hseq="")
        .col-md-1.box-under-header-sx.pull-left.number
          h5 4.1.3
        .panel.col-md-4.box-under-header-sx.pull-left.title
          a.claim-hseq4-1-3(href='#')
            h5 Przegląd powinien zapewnić, że:
        .col-md-3.box-under-header-sx.assessment-icon
          .row
            .col-md-4
              .pie.pull-left(data-name='rangeslider413') 60%
            .col-md-4
              h6 Wynik
              h6 Oceniono
            .col-md-4
              h6.text-left.numberValue413 0/10
              h6.text-left.numberValue-per413 0%
        .col-md-2.box-under-header-sx.bar
          span.numberValue413.numberValue 0/30
          input.slider(value='0', min='0', max='30', step='1', name='rangeslider413', data-parent='41', type='range')
        .col-md-1.box-under-header-sx.filter
        .col-md-1
          button.claim-hseq4-1-3.title-hseq4-1-3.btn.btn-default.navbar-btn(type='button')
            i.fa.fa-angle-double-down(aria-hidden='true')
      .row.hseq(data-hseq="Q")
        .col-md-1.box-under-header-sx.pull-left.number
          h5 4.1.4
          h5 Q
        .panel.col-md-4.box-under-header-sx.pull-left.title
          a.claim-hseq4-1-4(href='#')
            h5 Jeżeli klient przekazał wymagania w formie nieudokumentowanej,organizacja musi to powteirdzic
        .col-md-3.box-under-header-sx.assessment-icon
          .row
            .col-md-4
              .pie.pull-left(data-name='rangeslider414') 60%
            .col-md-4
              h6 Wynik
              h6 Oceniono
            .col-md-4
              h6.text-left.numberValue414 0/10
              h6.text-left.numberValue-per414 0%
        .col-md-2.box-under-header-sx.bar
          span.numberValue414.numberValue 0/10
          input.slider(value='0', min='0', max='10', step='1', name='rangeslider414', data-parent='41', type='range')
        .col-md-1.box-under-header-sx.filter
          h4 Q
        .col-md-1
      .row.hseq(data-hseq="")
        .col-md-1.box-under-header-sx.pull-left.number
          h5 4.1.5
        .panel.col-md-4.box-under-header-sx.pull-left.title
          a.title-hseq4-1-5(href='#')
            h5 Jeżeli zmieniono wymagania dotyczące wyrobu, to organizacja zapewnia by:
        .col-md-3.box-under-header-sx.assessment-icon
          .row
            .col-md-4
              .pie.pull-left(data-name='rangeslider415') 60%
            .col-md-4
              h6 Wynik
              h6 Oceniono
            .col-md-4
              h6.text-left.numberValue415 0/10
              h6.text-left.numberValue-per415 0%
        .col-md-2.box-under-header-sx.bar
          span.numberValue415.numberValue 0/10
          input.slider(value='0', min='0', max='10', step='1', name='rangeslider415', data-parent='41', type='range')
        .col-md-1.box-under-header-sx.filter
        .col-md-1
          button.claim-hseq4-1-5.title-hseq4-1-5.btn.btn-default.navbar-btn(type='button')
            i.fa.fa-angle-double-down(aria-hidden='true')
      .row.hseq(data-hseq="Q")
        .col-md-1.box-under-header-sx.pull-left.number
          h5 4.1.6
          h5 Q
        .panel.col-md-4.box-under-header-sx.pull-left.title
          a.claim-hseq4-1-6(href='#')
            h5 Utrzymywane sa zapisy wyników przeglądu i działań z niego wynikających
        .col-md-3.box-under-header-sx.assessment-icon
          .row
            .col-md-4
              .pie.pull-left(data-name='rangeslider416') 60%
            .col-md-4
              h6 Wynik
              h6 Oceniono
            .col-md-4
              h6.text-left.numberValue416 0/15
              h6.text-left.numberValue-per416 0%
        .col-md-2.box-under-header-sx.bar
          span.numberValue416.numberValue 0/15
          input.slider(value='0', min='0', max='15', step='1', name='rangeslider416', data-parent='41', type='range')
        .col-md-1.box-under-header-sx.filter
          h4 Q
        .col-md-1
      .row.hseq(data-hseq="Q")
        .col-md-1.box-under-header-sx.pull-left.number
          h5 4.1.7
          h5 Q
        .panel.col-md-4.box-under-header-sx.pull-left.title
          a.claim-hseq4-1-7(href='#')
            h5 Procedury są stosowane w celu zapewnienia poufności i ochrony danych klientów i info.
        .col-md-3.box-under-header-sx.assessment-icon
          .row
            .col-md-4
              .pie.pull-left(data-name='rangeslider417') 60%
            .col-md-4
              h6 Wynik
              h6 Oceniono
            .col-md-4
              h6.text-left.numberValue417 0/15
              h6.text-left.numberValue-per417 0%
        .col-md-2.box-under-header-sx.bar
          span.numberValue417.numberValue 0/15
          input.slider(value='0', min='0', max='15', step='1', name='rangeslider417', data-parent='41', type='range')
        .col-md-1.box-under-header-sx.filter
          h4 Q
        .col-md-1
      .row.hseq(data-hseq="")
        .col-md-1.box-under-header-sx.pull-left.number
          h5 4.1.8
        .panel.col-md-4.box-under-header-sx.pull-left.title
          a.claim-hseq4-1-8(href='#')
            h5 Organizacja powinna określić i wdroży ć skuteczne ustalenia związane z komunikacją z klientem dotyczące:
        .col-md-3.box-under-header-sx.assessment-icon
          .row
            .col-md-4
              .pie.pull-left(data-name='rangeslider418') 60%
            .col-md-4
              h6 Wynik
              h6 Oceniono
            .col-md-4
              h6.text-left.numberValue418 0/15
              h6.text-left.numberValue-per418 0%
        .col-md-2.box-under-header-sx.bar
          span.numberValue418.numberValue 0/15
          input.slider(value='0', min='0', max='15', step='1', name='rangeslider418', data-parent='41', type='range')
        .col-md-1.box-under-header-sx.filter
        .col-md-1
          button.claim-hseq4-1-3-1.btn.btn-default.navbar-btn(type='button')
            i.fa.fa-angle-double-down(aria-hidden='true')
      .row.hseq(data-hseq="Q")
        .col-md-1.box-under-header-sx.pull-left.number
          h5 4.1.9
          h5 Q
        .panel.col-md-4.box-under-header-sx.pull-left.title
          a.claim-hseq4-1-9(href='#')
            h5 System monitoruje satysfackcję klienta
        .col-md-3.box-under-header-sx.assessment-icon
          .row
            .col-md-4
              .pie.pull-left(data-name='rangeslider419') 60%
            .col-md-4
              h6 Wynik
              h6 Oceniono
            .col-md-4
              h6.text-left.numberValue419 0/30
              h6.text-left.numberValue-per419 0%
        .col-md-2.box-under-header-sx.bar
          span.numberValue419.numberValue 0/30
          input.slider(value='0', min='0', max='30', step='1', name='rangeslider419', data-parent='41', type='range')
        .col-md-1.box-under-header-sx.filter
          h4 Q
        .col-md-1
include right-panels

//include includes/scripts
script(src='scripts/main.js')
script(src='scripts/pie.js')
