.col-md-9.col-md-offset-0.pull-leftl.panel-margin
  .col-md-12.col-md-offset-0.panels
    .row
      .col-md-1.col-md-offset-0.box-under-header.pull-left.number
        h4 4
      .col-md-4.box-under-header.pull-left.title
        h4 Wdrożenie i Funkcjonowanie HSEQ
      .col-md-3.box-under-header.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider4') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue4 0/1404
            h6.text-left.numberValue-per4 0%
      .col-md-2.box-under-header.assessment-icon
        span.numberValue4.numberValue 0/1404
        input.slider(value='0', min='0', max='1404', step='1', name='rangeslider4', data-children='41,42,43,44,45,46,47,48,49', type='range', disabled, data-parent='0' )
      .col-md-1-1.box-under-header.assessment-icon
        select#filterHSEQ.form-control.filter-select(name='filterHSEQ', data-filter-name='hseq')
          option(value='All') All
          option(value='HS') HS
          option(value='E') E
          option(value='Q') Q
      .col-md-1-2
        button.claim-hseq3.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-left(aria-hidden='true')
        button.claim-hseq5.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-right(aria-hidden='true')
        button.claim-hseq0.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-up(aria-hidden='true')
  .col-md-12.col-md-offset-0.panels.filter-group
    .row.hseq(data-hseq="")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.1
      .panel.col-md-4.box-under-header-sx.pull-left.title
        a.claim-hseq4-1(href='#')
          h5 Procesy Związane z Klientem
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider41') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue41- 0/179
            h6.text-left.numberValue-per41 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue41.numberValue 0/179
        input.slider(value='0', min='0', max='179', step='1', name='rangeslider41', data-parent='4', type='range', disabled)
      .col-md-1.box-under-header-sx.assessment-icon
      .col-md-1-2
        button.claim-hseq4-1.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-down(aria-hidden='true')
    .row.hseq(data-hseq="Q")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.2
        h5 Q
      .panel.col-md-4.box-under-header-sx.pull-left.title
        a.claim-hseq4-2(href='#')
          h5 Projektowanie i Rozwój
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider42') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue42 0/222
            h6.text-left.numberValue-per42 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue42.numberValue 0/222
        input.slider(value='0', min='0', max='222', step='1', name='rangeslider42', data-parent='4', type='range')
      .col-md-1.box-under-header-sx.assessment-icon
        h4 Q
      .col-md-1-2
        button.claim-hseq4-2.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-down(aria-hidden='true')
    .row.hseq(data-hseq="")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.3
      .panel.col-md-4.box-under-header-sx.pull-left.title
        a.claim-hseq4-3(href='#')
          h5 Zarządzane zamówieniami i dostawiami
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider43') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue43 0/175
            h6.text-left.numberValue-per43 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue43.numberValue 0/175
        input.slider(value='0', min='0', max='175', step='1', name='rangeslider43', data-parent='4', type='range')
      .col-md-1.box-under-header-sx.assessment-icon
      .col-md-1-2
        button.claim-hseq4-3.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-down(aria-hidden='true')
    .row.hseq(data-hseq="Q")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.4
        h5 Q
      .panel.col-md-4.box-under-header-sx.pull-left.title
        a.claim-hseq4-4(href='#')
          h5 Zaopatrzenie produktu/usługi
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider44') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue44 0/214
            h6.text-left.numberValue-per44 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue44.numberValue 0/214
        input.slider(value='0', min='0', max='214', step='1', name='rangeslider44', data-parent='4', type='range')
      .col-md-1.box-under-header-sx.assessment-icon
        h4 Q
      .col-md-1-2
        button.claim-hseq4-4.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-down(aria-hidden='true')
    .row.hseq(data-hseq="")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.5
      .panel.col-md-4.box-under-header-sx.pull-left.title
        a.claim-hseq4-5(href='#')
          h5 Sterowanie operacyjne
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider45') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue45 0/130
            h6.text-left.numberValue-per45 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue45.numberValue 0/135
        input.slider(value='0', min='0', max='135', step='1', name='rangeslider45', data-parent='4', type='range')
      .col-md-1.box-under-header-sx.assessment-icon
      .col-md-1-2
        button.claim-hseq4-5.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-down(aria-hidden='true')
    .row.hseq(data-hseq="Q")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.6
        h5 Q
      .panel.col-md-4.box-under-header-sx.pull-left.title
        a.claim-hseq4-6(href='#')
          h5 Kompetencje, Szkolenia i Świadomość
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider46') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue46 0/189
            h6.text-left.numberValue-per46 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue46.numberValue 0/189
        input.slider(value='0', min='0', max='189', step='1', name='rangeslider46', data-parent='4', type='range')
      .col-md-1.box-under-header-sx.assessment-icon
        h4 Q
      .col-md-1-2
        button.claim-hseq4-6.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-down(aria-hidden='true')
    .row.hseq(data-hseq="Q")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.7
        h5 Q
      .panel.col-md-4.box-under-header-sx.pull-left.title
        a.claim-hseq4-7(href='#')
          h5 Nadzór nad Dokumentacją i Zarządzanie Zapisami
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider47') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue47 0/180
            h6.text-left.numberValue-per47 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue47.numberValue 0/180
        input.slider(value='0', min='0', max='180', step='1', name='rangeslider47', data-parent='4', type='range')
      .col-md-1.box-under-header-sx.assessment-icon
        h4 Q
      .col-md-1-2
        button.claim-hseq4-7.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-down(aria-hidden='true')
    .row.hseq(data-hseq="")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.8
      .panel.col-md-4.box-under-header-sx.pull-left.title
        a.claim-hseq4-8(href='#')
          h5 Komunikacja, Uczestnictwo i Konsultacje
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider48') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue48 0/115
            h6.text-left.numberValue-per48 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue48.numberValue 0/115
        input.slider(value='0', min='0', max='115', step='1', name='rangeslider48', data-parent='4', type='range')
      .col-md-1.box-under-header-sx.assessment-icon
      .col-md-1-2
        button.claim-hseq4-8.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-down(aria-hidden='true')
.col-md-3.col-md-offset-0.pull-right.panel-margin
  #accordion.panel-group(role='tablist', aria-multiselectable='true')
    .panel.panel-default
      #headingOne.panel-heading(role='tab')
        h4.panel-title
          a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne') Szczegóły
      #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
        .panel-body
          .text
            .editable_text Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
    .panel.panel-default
      #headingTwo.panel-heading(role='tab')
        h4.panel-title
          a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo') Dowody
      #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
        .panel-body
          .text
            .editable_text Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
    .panel.panel-default
      #headingThree.panel-heading(role='tab')
        h4.panel-title
          a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree') Ocena
      #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
        .panel-body
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.

  #bs-collapse.panel-group.wrap
    .panel
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='', href='#one')
            | Collapse item #1
      #one.panel-collapse.collapse
        .panel-body
          | Where now are the horse and the rider? Where is the horn that was blowing? Where is the helm and the hauberk, and the bright hair flowing?
    // end of panel
    .panel
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='', href='#two')
            | Collapse item #2
      #two.panel-collapse.collapse
        .panel-body
          | Where is the harp on the harpstring, and the red fire glowing? Where is the spring and the harvest and the tall corn growing?
    // end of panel
    .panel
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='', href='#three')
            | Collapse item #3
      #three.panel-collapse.collapse
        .panel-body
          | The days have gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning? The days have gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning?The days have gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning?The days have gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning?
    // end of panel
    .panel
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='', href='#four')
            | Collapse item #4
      #four.panel-collapse.collapse.in
        .panel-body
          | They have passed like rain on the mountain, like a wind in the meadow; The days have gone down in the West behind the hills into shadow.
    // end of panel
  // end of #bs-collapse

//include includes/scripts
script(src='scripts/main.js')
script(src='scripts/pie.js')
script(src='scripts/edit-input.js')
