.col-md-9.col-md-offset-0.pull-left.panel-margin
  .col-md-12.col-md-offset-0.panels
    .row
      .col-md-1.col-md-offset-0.box-under-header.pull-left.number
        h4 4
      .col-md-4.box-under-header.pull-left.title
        h4.title-hseq4 Wdrożenie i Funkcjonowanie HSEQ
      .col-md-3.box-under-header.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider4') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue4 0/1404
            h6.text-left.numberValue-per4 0%
      .col-md-2.box-under-header.assessment-icon
        span.numberValue4.numberValue 0/1404
        input.slider(value='0', min='0', max='1404', step='1', name='rangeslider4', data-children='41,42,43,44,45,46,47,48,49', type='range', disabled, data-parent='0' )
      .col-md-1-1.box-under-header.assessment-icon
        select#filterHSEQ.form-control.filter-select(name='filterHSEQ', data-filter-name='hseq')
          option(value='All') All
          option(value='HS') HS
          option(value='E') E
          option(value='Q') Q
      .col-md-1-2
        button.claim-hseq0.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-up(aria-hidden='true')
        button.claim-hseq5.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-right(aria-hidden='true')
        button.claim-hseq3.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-left(aria-hidden='true')
  .col-md-12.col-md-offset-0.panels.filter-group
    .row.hseq(data-hseq="")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.1
      .panel.col-md-4.box-under-header-sx.pull-left.title
        a.title-hseq4-1(href='#')
          h5 Procesy Związane z Klientem
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider41') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue41- 0/179
            h6.text-left.numberValue-per41 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue41.numberValue 0/179
        input.slider(value='0', min='0', max='179', step='1', name='rangeslider41', data-parent='4', type='range', disabled)
      .col-md-1.box-under-header-sx.assessment-icon
      .col-md-1-2
        button.claim-hseq4-1.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-down(aria-hidden='true')
    .row.hseq(data-hseq="Q")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.2
        h5 Q
      .panel.col-md-4.box-under-header-sx.pull-left.title
        a.title-hseq4-2(href='#')
          h5 Projektowanie i Rozwój
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider42') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue42 0/222
            h6.text-left.numberValue-per42 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue42.numberValue 0/222
        input.slider(value='0', min='0', max='222', step='1', name='rangeslider42', data-parent='4', type='range')
      .col-md-1.box-under-header-sx.assessment-icon
        h4 Q
      .col-md-1-2
        button.claim-hseq4-2.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-down(aria-hidden='true')
    .row.hseq(data-hseq="")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.3
      .panel.col-md-4.box-under-header-sx.pull-left.title
        a.title-hseq4-3(href='#')
          h5 Zarządzane zamówieniami i dostawiami
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider43') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue43 0/175
            h6.text-left.numberValue-per43 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue43.numberValue 0/175
        input.slider(value='0', min='0', max='175', step='1', name='rangeslider43', data-parent='4', type='range')
      .col-md-1.box-under-header-sx.assessment-icon
      .col-md-1-2
        button.claim-hseq4-3.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-down(aria-hidden='true')
    .row.hseq(data-hseq="Q")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.4
        h5 Q
      .panel.col-md-4.box-under-header-sx.pull-left.title
        a.title-hseq4-4(href='#')
          h5 Zaopatrzenie produktu/usługi
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider44') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue44 0/214
            h6.text-left.numberValue-per44 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue44.numberValue 0/214
        input.slider(value='0', min='0', max='214', step='1', name='rangeslider44', data-parent='4', type='range')
      .col-md-1.box-under-header-sx.assessment-icon
        h4 Q
      .col-md-1-2
        button.claim-hseq4-4.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-down(aria-hidden='true')
    .row.hseq(data-hseq="")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.5
      .panel.col-md-4.box-under-header-sx.pull-left.title
        a.title-hseq4-5(href='#')
          h5 Sterowanie operacyjne
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider45') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue45 0/130
            h6.text-left.numberValue-per45 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue45.numberValue 0/135
        input.slider(value='0', min='0', max='135', step='1', name='rangeslider45', data-parent='4', type='range')
      .col-md-1.box-under-header-sx.assessment-icon
      .col-md-1-2
        button.claim-hseq4-5.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-down(aria-hidden='true')
    .row.hseq(data-hseq="Q")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.6
        h5 Q
      .panel.col-md-4.box-under-header-sx.pull-left.title
        a.title-hseq4-6(href='#')
          h5 Kompetencje, Szkolenia i Świadomość
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider46') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue46 0/189
            h6.text-left.numberValue-per46 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue46.numberValue 0/189
        input.slider(value='0', min='0', max='189', step='1', name='rangeslider46', data-parent='4', type='range')
      .col-md-1.box-under-header-sx.assessment-icon
        h4 Q
      .col-md-1-2
        button.claim-hseq4-6.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-down(aria-hidden='true')
    .row.hseq(data-hseq="Q")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.7
        h5 Q
      .panel.col-md-4.box-under-header-sx.pull-left.title
        a.title-hseq4-7(href='#')
          h5 Nadzór nad Dokumentacją i Zarządzanie Zapisami
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider47') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue47 0/180
            h6.text-left.numberValue-per47 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue47.numberValue 0/180
        input.slider(value='0', min='0', max='180', step='1', name='rangeslider47', data-parent='4', type='range')
      .col-md-1.box-under-header-sx.assessment-icon
        h4 Q
      .col-md-1-2
        button.claim-hseq4-7.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-down(aria-hidden='true')
    .row.hseq(data-hseq="")
      .col-md-1.col-md-offset-1.box-under-header-sx.pull-left.number
        h5 4.8
      .panel.col-md-4.box-under-header-sx.pull-left.title
        a.title-hseq4-8(href='#')
          h5 Komunikacja, Uczestnictwo i Konsultacje
      .col-md-3.box-under-header-sx.assessment-icon
        .row
          .col-md-4
            .pie.pull-left(data-name='rangeslider48') 60%
          .col-md-4
            h6 Wynik
            h6 Oceniono
          .col-md-4
            h6.text-left.numberValue48 0/115
            h6.text-left.numberValue-per48 0%
      .col-md-2.box-under-header-sx.assessment-icon
        span.numberValue48.numberValue 0/115
        input.slider(value='0', min='0', max='115', step='1', name='rangeslider48', data-parent='4', type='range')
      .col-md-1.box-under-header-sx.assessment-icon
      .col-md-1-2
        button.claim-hseq4-8.btn.btn-default.navbar-btn(type='button')
          i.fa.fa-angle-double-down(aria-hidden='true')

include right-panels
//include includes/scripts
script(src='scripts/main.js')
script(src='scripts/pie.js')
script(src='scripts/panels.js')
