.col-md-9.col-md-offset-0
  .col-md-12.col-md-offset-0
    .row
      .col-md-1.col-md-offset-0.box-under-header.pull-left.number
        h4 1
      .panels.col-md-6.box-under-header.pull-left.title
        a#1(href='#')
          h4 Dokumentacja Systemu HSEQ
      .col-md-3.box-under-header.assessment-icon
        .row
          .col-md-3
            .pie.pull-left 60%
          .col-md-3
            h5 Wynik
            h5 Oceniono
          .col-md-3
            h5.text-right 2264/4000
            h5.text-right 60%
      .col-md-1
        .row
          .col-md-12
            button.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row
          .col-md-12
            button.btn.btn-assessment.btn-sm(type='button') Oceń
.col-md-9.col-md-offset-0
  .col-md-12.col-md-offset-0
    .row
      .col-md-1.col-md-offset-0.box-under-header.pull-left.number
        h4 2
      .panels.col-md-6.box-under-header.pull-left.title
        a#2(href='#')
          h4 Polityka HSEQ
      .col-md-3.box-under-header.assessment-icon
        h4 Ocena
      .col-md-1
        .btn-group-vertical
          button.btn.btn-secondary(type='button') Small button
          button.btn.btn-secondary(type='button') Small button
.col-md-9.col-md-offset-0
  .col-md-12.col-md-offset-0
    .panel-fixed.row
      .col-md-1.col-md-offset-0.box-under-header.pull-left.number
        h4 3
      .col-md-6.box-under-header.pull-left.title
        a#3(href='#')
          h4 Planowanie HSEQ
      .col-md-3.box-under-header.assessment-icon
        h4 Ocena
      .col-md-1
        .btn-group-vertical
          button.btn.btn-secondary(type='button') Left
          button.btn.btn-secondary(type='button') Middle
.col-md-9.col-md-offset-0
  .col-md-12.col-md-offset-0
    .row
      .col-md-1.col-md-offset-0.box-under-header.pull-left.number
        h4 4
      .col-md-6.box-under-header.pull-left.title
        a#4(href='#')
          h4 Wdrożenie i Funkcjonowanie HSEQ
      .col-md-4.box-under-header.assessment-icon
        h4 Ocena
      .col-md-1
        .row
          .col-md-12
            button#btn-claim-4.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row
          .col-md-12
            button.btn.btn-assessment.btn-sm(type='button') Oceń
.col-md-9.col-md-offset-0
  .col-md-12.col-md-offset-0
    .row
      .col-md-1.col-md-offset-0.box-under-header.pull-left.number
        h4 5
      .col-md-6.box-under-header.pull-left.title
        h4 Ocena Wyników HSEQ
      .col-md-4.box-under-header.assessment-icon
        h4 Ocena
.col-md-9.col-md-offset-0
  .col-md-12.col-md-offset-0
    .row
      .col-md-1.col-md-offset-0.box-under-header.pull-left.number
        h4 6
      .col-md-6.box-under-header.pull-left.title
        h4 Analiza i Doskonalenie HSEQ
      .col-md-4.box-under-header.assessment-icon
        h4 Ocena
.col-md-9.col-md-offset-0
  .col-md-12.col-md-offset-0
    .row
      .col-md-1.col-md-offset-0.box-under-header.pull-left.number
        h4 7
      .col-md-6.box-under-header.pull-left.title
        h4 Przegląd Zarządzania HSEQ
      .col-md-4.box-under-header.assessment-icon
        h4 Ocena
//include includes/scripts

script(src='scripts/main.js')
script(src='scripts/pie.js')


