#main-panel.row
  .col-md-12.col-md-offset-0.left
    .col-md-12.col-md-offset-0
      .row
        .col-md-8.box-header.pull-left.title-main
          h3 HSEQ STORA
        .col-md-4.box-header.assessment-icon
          .row
            .col-md-3
              .pie.pull-left 80%
            .col-md-3
              h4 Wynik
              h4 Oceniono
            .col-md-3
              h4.text-right 2447/4000
              h4.text-right 80%
            .col-sm-3
              .btn-group
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') Select
                  //span(data-bind='label')
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#') Pozycja 1
                  li
                    a(href='#') Pozycja 2
                  li
                    a(href='#') Pozycja 3
            //.navbar.navbar-light.bg-faded
              //  button.navbar-toggler(type="button")&attributes({'data-toggle':'collapse'})&attributes({'data-target':'#exCollapsingNavbar'})
              //  span.glyphicon.glyphicon-search
.row
  .col-md-9.col-md-offset-0
    .col-md-12.col-md-offset-0
      .row
        .col-md-1.col-md-offset-0.box-under-header.pull-left.number
          h4 1
        .col-md-6.box-under-header.pull-left.title
          h4 Dokumentacja Systemu Zarządzania
        .col-md-3.box-under-header.assessment-icon
          .row
            .col-md-3
              .pie.pull-left 60%
            .col-md-3
              h5 Wynik
              h5 Oceniono
            .col-md-3
              h5.text-right 2264/4000
              h5.text-right 60%
        .col-md-1
          .row
            .col-md-12
              button.btn.btn-primary.btn-sm(type='button') Rozwiń
          .row
            .col-md-12
              button.btn.btn-assessment.btn-sm(type='button') Oceń
//.col-md-3.right.right-panels
  .col-md-6.col-md-offset-0
    .col-md-12.col-md-offset-0
      .panel.panel-primary
        .panel-heading
          h3.panel-title Szczegóły
        .panel-body Panel content
        .panel-body Panel content
        .panel-body Panel content
.row
  .col-md-9.col-md-offset-0
    .col-md-12.col-md-offset-0
      .row
        .col-md-1.col-md-offset-0.box-under-header.pull-left.number
          h4 2
        .col-md-6.box-under-header.pull-left.title
          h4 Polityka HSEQ
        .col-md-3.box-under-header.assessment-icon
          h4 Ocena
        .col-md-1
          .btn-group-vertical
            button.btn.btn-secondary(type='button') Small button
            button.btn.btn-secondary(type='button') Small button
.row
  .col-md-9.col-md-offset-0
    .col-md-12.col-md-offset-0
      .row
        .col-md-1.col-md-offset-0.box-under-header.pull-left.number
          h4 3
        .col-md-6.box-under-header.pull-left.title
          h4 Planowanie HSEQ
        .col-md-3.box-under-header.assessment-icon
          h4 Ocena
        .col-md-1
          .btn-group-vertical
            button.btn.btn-secondary(type='button') Left
            button.btn.btn-secondary(type='button') Middle
.row
  .col-md-9.col-md-offset-0
    .col-md-12.col-md-offset-0
      .row
        .col-md-1.col-md-offset-0.box-under-header.pull-left.number
          h4 4
        .col-md-6.box-under-header.pull-left.title
          h4 Wdrożenie i Funkcjonowanie HSEQ
        .col-md-4.box-under-header.assessment-icon
          h4 Ocena
.row
  .col-md-9.col-md-offset-0
    .col-md-12.col-md-offset-0
      .row
        .col-md-1.col-md-offset-0.box-under-header.pull-left.number
          h4 5
        .col-md-6.box-under-header.pull-left.title
          h4 Ocena Wyników HSEQ
        .col-md-4.box-under-header.assessment-icon
          h4 Ocena
.row
  .col-md-9.col-md-offset-0
    .col-md-12.col-md-offset-0
      .row
        .col-md-1.col-md-offset-0.box-under-header.pull-left.number
          h4 6
        .col-md-6.box-under-header.pull-left.title
          h4 Analiza i Doskonalenie HSEQ
        .col-md-4.box-under-header.assessment-icon
          h4 Ocena
.row
  .col-md-9.col-md-offset-0
    .col-md-12.col-md-offset-0
      .row
        .col-md-1.col-md-offset-0.box-under-header.pull-left.number
          h4 7
        .col-md-6.box-under-header.pull-left.title
          h4 Przegląd Zarządzania HSEQ
        .col-md-4.box-under-header.assessment-icon
          h4 Ocena
.row
  .col-md-6.col-md-offset-0
    .col-md-12.col-md-offset-0
      #panel.panel.panel-default
        a(href='#')
          .panel-body
            | Dokumentacja Systemu HSEQ
    .col-md-11.col-md-offset-1
      #list-of-claims.list-group.hidden
        a.list-group-item(href='#') Dokumentacja Systemu Zarządzania
        a.list-group-item(href='#') Polityka HSEQ
        a.list-group-item(href='#') Planowanie HSEQ
        a.list-group-item(href='#') Wdrożenie i Funkcjonowanie HSEQ
        a.list-group-item(href='#') Ocena Wyników HSEQ
        a.list-group-item(href='#') Analiza i Doskonalenie HSEQ
        a.list-group-item(href='#') Przegląd Zarządzania HSEQ
  .col-md-6.col-md-offset-0
    .col-md-12.col-md-offset-0
      //.panel.panel-primary
      //  .panel-heading
      //    h3.panel-title Szczegóły
      //  .panel-body Panel content
      //  .panel-body Panel content
      //  .panel-body Panel content
script(src='../scripts/main.js')
script(src='../scripts/pie.js')
script(src='../scripts/projects.js')

