.col-md-3.col-md-offset-0.pull-right.right-panel
  #bs-collapse.panel-group
    .panel.wrap
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='', href='#one')
            | Szczegóły
      #one.panel-collapse.collapse.in
        .panel-body
          .row
            .col-md-2
              h5 Nazwa:
            .col-md-9
              h5.title-claim Wdrożenie i Funkcjonowanie HSEQ
            .col-md-2
              h5 Etykieta:
            .col-md-9
              h5.label-claim 4
            .col-md-2
              h5 Tagi:
            .col-md-9
          .text(data-name='panel1')
            .editable_text Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
    // end of panel
    .panel.wrap
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='', href='#two')
            | Ocena
      #two.panel-collapse.collapse.in
        .panel-body
          | Where is the harp on the harpstring, and the red fire glowing? Where is the spring and the harvest and the tall corn growing?
  // end of #bs-collapse

  //#accordion.panel-group(role='tablist', aria-multiselectable='true')
  //  .panel.panel-default
  //    #headingOne.panel-heading(role='tab')
  //      h4.panel-title
  //        a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne') Szczegóły
  //    #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
  //      .panel-body
  //        .row
  //          .col-md-2
  //            h5 Nazwa:
  //            h5 Etykieta:
  //            h5 Tagi:
  //          .col-md-10
  //            h5.title-claim Wdrożenie i Funkcjonowanie HSEQ
  //            h5.label-claim 4
  //        .text(data-name='panel1')
  //          .editable_text Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
  //  .panel.panel-default
  //    #headingTwo.panel-heading(role='tab')
  //      h4.panel-title
  //        a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo') Ocena
  //    #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
  //      .panel-body
  //        .text(data-name='panel2')
  //          .editable_text Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.


script(src='scripts/panels.js')
